<%- model_class = Evaluation -%>
<div class="page-header">
  <% if current_user.has_role? :admin %>
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <% else %>
  <h1>重做</h1>
  <% end %>
</div>
<%= render :partial => 'form' %>
