<%- model_class = Catalog -%>
<div class="page-header">
  <h1>新增目录</h1>
</div>
<%= render :partial => 'form' %>
<hr>
<div>
  <%= link_to "找不到课文吗？新增一篇课文吧", new_lesson_path, class: "btn btn-default" %>
</div>
