<%- model_class = Practice -%>
<div class="page-header">
  <% if current_user.has_role? :admin %>
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <% else %>
    <h3>编辑练习</h3>
  <% end %>
</div>
<%= render :partial => 'form' %>
