<h1>欢迎！</h1>
<hr>
<hr>
<div class="row">
  <div class="col-md-6" >
<h3>你还在这样子学习吗？</h3>
<ul style="font-size: 18px; line-height: 34px;">
<li>花一段沉沉欲睡的时间</li>
<li>在一个冷漠昏暗的教室</li>
<li>跟一位自以为是的老师</li>
<li>用一种疲惫厌倦的方法</li>
<li>学一门不知所谓的课程</li>
</ul>
</div>
<div class="col-md-6">
  <h2>来<strong>学学半</strong>吧！</h2>
  <hr>
    <h3>在这里，找到学习的自由和快乐！</h3>
  <hr>
    <%= link_to "寻找让你心动的课本", textbooks_url, html_options= {class: "btn btn-lg btn-success"} %>
    <p></p>
    <p>也可以，</p>
    <%= link_to "直接当老师帮人改卷", me_justify_path, html_options= {class: "btn btn-lg btn-info"} %>
  </div>
</div>
<hr>
<hr>
